<?xml version="1.0" encoding="UTF-8"?>
<module id="8472" version="2016052300">
  <modulename>certificate</modulename>
  <sectionid>2380</sectionid>
  <sectionnumber>1</sectionnumber>
  <idnumber></idnumber>
  <added>1565819471</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","c":[{"type":"completion","cm":8461,"e":1},{"type":"completion","cm":8462,"e":1},{"type":"completion","cm":8463,"e":1},{"type":"completion","cm":8464,"e":1},{"type":"completion","cm":8465,"e":1},{"type":"completion","cm":8466,"e":1},{"type":"completion","cm":8467,"e":1},{"type":"completion","cm":8468,"e":1},{"type":"completion","cm":8469,"e":1},{"type":"completion","cm":8470,"e":1}],"showc":[true,true,true,true,true,true,true,true,true,true]}</availability>
  <showdescription>0</showdescription>
  <tags>
  </tags>
</module>